.DS_Store
servers/runtime/*
servers/public/static/*
servers/public/uploads/*
servers/application/log/*
!servers/public/uploads/default
servers/application/database.php
servers/application/config.php
npm-debug.log
yarn-error.log
admin/node_modules/*
blog/node_modules/*
blog/static/*
doc/_book/*
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

